@media (min-width: 600px) {
    .li-header {
        font-size: 0.8rem;
    }

    .title{
        font-size: 1.5em;
    }

    .caja {
        padding: 3em;
        width: 60%;
        gap: 1em;
    }

    .input-style::placeholder{
        font-size: 1em;
    }

    .opciones {
        font-size: 0.9em;
        top: 10px;
    }

    .input-temp{
        width: 15rem;
    }

}

@media (min-width: 1024px){
    .li-header {
        font-size: 1rem;
    }

    .title {
        font-size: 2rem;
    }

    .input-style {
        padding: 1em 1.5em;
        font-size: 1.5em;
    }

    .opciones {
        font-size: 1.5em;
        top: 10px;
    }

    .input-temp{
        width: 30rem;
    }

}

@media (min-width: 1440px) {
    .li-header {
        font-size: 1.5rem;
    }

    .opciones {
        font-size: 1.5em;
        top: 20px;
    }

    .input-temp{
        width: 30rem;
    }
}