header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 2vh;
  height: 10vh;
}

.logo-header img {
  width: 25vw;
}

.list-header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.li-header {
  display: flex;
  color: var(--white);
  font-size: 2vw;
  border: .5px solid var(--white-opa);
  border-radius: 4px;
  padding: 5px 20px;

}

.li-header:hover {
  background-color: var(--white-opa);
  border-color: var(--white);
}

.list-header a {
  color: var(--white);
  text-decoration: none;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}
